Node/Bridge/nodejs.json
[{"id":"47b6e0df.e1df6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce8a916c.b7ddc8","type":"serial in","z":"47b6e0df.e1df6","name":"","serial":"6ca506ac.6f2418","x":240,"y":400,"wires":[["70af2d6.7225ed4"]]},{"id":"70af2d6.7225ed4","type":"function","z":"47b6e0df.e1df6","name":"","func":"var moisture = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\")\nmsg.payload = {\n    \"uuid\":\"d62612e5-e0ed-43b1-a459-ca2efc76617a\",\n    \"moisture\": parseInt(moisture)\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["4a096173.1a90a8"]]},{"id":"4a096173.1a90a8","type":"http request","z":"47b6e0df.e1df6","name":"","method":"POST","ret":"txt","url":"http://mihirpi.local:8010/add","tls":"","x":560,"y":400,"wires":[[]]},{"id":"6ca506ac.6f2418","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"}]